body {
    background-color: #9d9d9d;
}
.wrap {max-width: 500px; width:100%;margin: 0 auto;}
input,textarea,select {width:100%;}
label {display: block;margin-top: 15px;}
.error {color:red;font-size: .8em;}